server {
	server_name webserv.com
	listen 127.0.0.1:8000
	max_client_body_size 10000
	root ./website/
	index pages/new_site.html
	autoindex 1
	allow_methods GET	
}

server {
	server_name localhost
	listen 8000
	max_client_body_size 10000
	root ./website/
	index pages/new_site.html
	autoindex 1
	allow_methods GET	
}
